nav{
    background-color: rgb(57, 51, 51);
    position: sticky;
    top : 0 ;
    display : flex ; 
    justify-content: flex-start;
    gap: 50px;  
    align-items: center;
    padding: 0 20px;

}

.logo {
      display : flex ; 
    align-items: center;
}

.logo img{
    width: 140px;
    height: auto;
}

.logo h3{
    margin-left: 10px;
    color : white; 
    text-decoration: none;
    font-size:  28px;
    font-family: RobotRegular;
}

.nav-links{
 display : flex ; 
 align-items: center;
 list-style: none;
}

.nav-links a{
display: block  ;
padding : 30px 16px; 
color: white;
text-decoration: none;
font-size: 16px; 
font-family:RobotoMedium;
text-transform: uppercase;
transition: all ease-in-out 100ms ; 

}

.nav-links a:hover{
background-color: #73AD21;
}

.nav-links .contact-botton{
    padding: 10px 18px; 
    margin-left: 16px;
    border: 2px solid #73AD21;;
    border-radius: 50px;
    background-color: #73AD21;
     
} 